body {
  background-color: #f4f4f4;
  font-family: '微软雅黑 regular', '微软雅黑', "Microsoft Yahei", Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}
.title-bar {
  text-align: center;
  color: #f8285c;
  font-size: 1.5em;
  width: 100%;
  line-height: 2em;
}
.navbar {
  min-height: 40px;
  margin-bottom: 0;
}
.navbar .active {
  background-color: #f8285c;
  font-size: 1em;
  width: 25%;
}
.navbar .actives {
  background-color: #EA1C50;
}
 

.navbar .nav-default {
  background-color: #A09D9A;
  font-size: 1em;
  width: 50%;
}
.reSetMargin a {
  padding: 13px;
  border-radius: 0px;
}
.aImg {
  padding-right: 10px;
  text-align: center;
  float: left;
  width: 100%;
}
.divTitle {
  color: #f3659b;
}
.divTitle span:nth-child(1) {
  font-size: 22px;
  display: inline-block;
  color: black;
  margin-right: 8px;
}
.divTitle span:nth-child(2) {
  margin: 0px 6px;
}
.divTitle span:nth-child(3) {
  margin: 0px 6px;
}
.container > .row {
  margin-bottom: 33px;
}
.noPadding {
  padding: 0px;
}
.testBorder {
  border: 1px solid red;
}
.divContent {
  padding-right: 13px;
  border: solid #E0E0E0 1px;
  background-color: white;
  margin-bottom: 16px;
}
.pHeader {
  line-height: 1.2em;
  font-size: 1em;
  color: #616161;
  overflow: hidden;
  text-emphasis: dot;
}
.pDate {
  color: #f3659b;
  font-size: 13px;
  margin: 0px;
}
.pDate .glyphicon {
  color: #f6924c;
}
.pCoupon {
  font-size: 13px;
  color: #666;
  margin-bottom: 0px;
}
.pCoupon span:nth-child(1) {
  color: #f3659b;
}
.divPrice {
  font-size: 15px;
  color: #FFD9EC;
  margin-top: 0.2em;
  background: #ea2a60;
  text-align: center;
  border-radius: 5px;
}
.divPrice span:nth-child(1) {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
.divGo {
  color: #999999;
  text-align: right;
}
.divGo span:nth-child(1) {
  display: inline-block;
  border-bottom: 0px solid red;
  padding: .4em;
  color: #ec3315;
}
.divGo span:nth-child(2) {
  display: inline-block;
  border-bottom: 1px solid red;
  padding: 2px;
  color: #ec3315;
}
.divGo span:nth-child(1):hover {
  background-color: #FACB12;
}
@media screen and (max-device-width: 480px) {
  .pHeader {
    margin-top: 1px;
    line-height: 20px;
    max-height: 2.2em;
  }
  .divPrice {
    margin-top: 14px;
  }
  .divGo {
    margin-top: 14px;
  }
}
@media screen and (max-device-width: 450px) {
  .pHeader {
    margin-top: 3px;
    line-height: 15px;
  }
  .divPrice {
    margin-top: 7px;
  }
  .divGo {
    margin-top: 5px;
  }
}
@media screen and (max-device-width: 360px) {
  .pHeader {
    max-height: 1.2em;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .divPrice {
    margin-top: 7px;
  }
  .org-price {
    display: none;
  }
  .divGo {
    margin-top: 5px;
  }
  .divGo a {
    padding: 0;
  }
  .divGo a span {
    padding: 0;
  }
  .divGo a span:nth-child(1),
  .divGo a span:nth-child(2) {
    padding: 0;
  }
}
.back-to-top1 {
  position: fixed;
  bottom: 75px;
}
.back-to-top2 {
  position: fixed;
  bottom: 55px;
}
.back-to-top3 {
  position: fixed;
  bottom: 28px;
}


.pager {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.pager a {
  background-color: #fff;
}
.pager .pre-page,
.pager .next-page {
  color: #4b4b4b;
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  font-size: 14px;
  text-decoration: none;
  width: 53px;
  height: 28px;
  border: 1px solid #d5d5d5;
  line-height: 28px;
  display: inline-block;
}
.pager .pre-page:hover,
.pager .next-page:hover {
  color: #32a5e7;
  border-color: #32a5e7;
}
.pager .item {
  height: 28px;
  padding: 0 10px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #d5d5d5;
  display: inline-block;
  text-decoration: none;
  color: #574a4a;
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  font-size: 15px;
}
.pager .item:hover {
  color: #32a5e7;
  border-color: #32a5e7;
}
.pager .disabled {
  color: #a0a0a0;
  cursor: default;
}
.pager .disabled:hover {
  color: #a0a0a0;
  border-color: #d5d5d5;
}
.pager .cur {
  cursor: default;
  color: #32a5e7;
  border-color: #32a5e7;
}
.pager .more {
  cursor: default;
  color: #d5d5d5;
  border-color: #d5d5d5;
}
.pager .more:hover {
  color: #d5d5d5;
  border-color: #d5d5d5;
}
.pHeader {
	line-height: 20px;
	height: 40px;
}
a {
    color: #f8285c;
    text-decoration: none;
}